<div id="group_form" ng-show="sugest_species" class="formedgroup forma cajas2">
  <%= simple_form_for @species_group do |f| %>

        <div><h3>Sugerir Adición de especie al Grupo</h3></div>
        <div class="sugsearch">
        <%= f.hidden_field :group_id, :value =>  @group.id %><%= f.hidden_field :species_group_state_id, :value => 2 %>
        <%= f.hidden_field :species_id, :id => "species_id" %>
        <%= f.error_notification %>
        
        <div>
          <label>
            <input type="radio" name="taxon" value="1" checked="checked"/>
            <%= image_tag("anfibiosg.png", :title => 'Anfibios') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="2" />
            <%= image_tag("avesg.png", :title => 'Aves') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="3" />
            <%= image_tag("invertebradosg.png", :title => 'Invertebrados') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="4" />
            <%= image_tag("mamiferosg.png", :title => 'Mamíferos') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="5" />
            <%= image_tag("pecesg.png", :title => 'Peces') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="6" />
            <%= image_tag("reptilesg.png", :title => 'Reptiles') %>
          </label>
          <label>
            <input type="radio" name="taxon" value="7" />
            <%= image_tag("plantasg.png", :title => 'Plantas') %>
          </label>
      </div>

        <%= text_field_tag :query, '', :id => 'search_field', :placeholder => 'Ingrese nombre de la especie', :collection => 'Species.SpeciesHelper.get_species_name', :include_blank => false, :rel => 'autocomplete' %>
        <%= f.hidden_field :class_id, :id => "class_id", :value => 1 %>
        </div>
        <%= f.submit "Enviar", :class=> "sugspp nobtn" %>
  <% end %>

</div>

<script>
  $('input:radio').change(function(){
      $("#class_id").val($("form input[type='radio']:checked").val());
        $('#search_field').val('');
        $('#search_field').typeahead('setQuery', '');
    });
</script>